/** {
	border: 1px solid red !important;
}*/

/*Grid and Meta Rules*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*Misc*/

/* Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


html,
body {height:100%; padding:0; margin:0; width:100%;}
body {display:flex; flex-direction:column;}

nav {
  background-color: #263238;
}

#menu-button {
  float: left;
  width: 50px;
}
#title {
  width: calc(100% - 50px);
  color: rgba(255, 255, 255, 1);
}

#title > p {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  top: 5px;
}

#sidebar {
  background-color: #37474f;
  width: 300px;
  height: 100%;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  z-index: 3;
}

.filter {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.out-of-filter {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  left: -20px;
  padding: 10px;
  color: white;
}
.open {
  transform: translate(0, 0) !important;
}

/*@media screen and (min-width: 600px) {
  nav {
    position: relative;
    transform: translate(0, 0);
  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  main {
    width: auto;
    flex-grow: 1;
  }
}*/

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #263238;
  z-index: 1;
}

#map {
  z-index: 2;
  flex-grow:1;
}
