/** {
	border: 1px solid red !important;
}*/

/*TODO: Make the page responsive*/

/*Grid and Meta Rules*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*Misc*/

a {
    color: inherit;
    text-decoration: none;
}



/*Header*/

.title {
    border-bottom: 4px solid #bcbbbb;
    padding-bottom: 0;
    height: 119px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.title h1 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 54px;
    margin-top: 7px;
    color: #363636;
}

.title h4 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
}

#logo {
    width: 101px ;
    height: auto ;
}

.namecontainer {
    display: table-cell;
    vertical-align: middle;
}

.name {
    text-align:right;
    margin: 0;
}

/*Carousel*/

.carousel {
    text-align:center;
    margin-bottom: 35px;
}

.carousel img {
    text-align:center;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

#carousel {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
}

/*Items*/

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #9f9d9d;
    letter-spacing: 1px;

    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 10px;
}

.featured {
    margin: 0 auto;
    max-width: 800px;
}

.featured img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.featured h3 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    color: #676857;;
    margin: 7px 0;
}

.featured h4 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 1px;
    color: #c5c6be;
    margin: 0;
}

.item {
    text-align: center;
}

#left {
    padding-right: 15px;
}

#middle {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#right {
    padding-left: 15px;
}

@media screen and (max-width: 550px) {

    body {
        margin: 0;
    }

    #logo {
        width: 70px ;
        height: auto;
        margin-top: 17px;
    }

    .title h1 {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 36px;
        margin-top: 17px;
        color: #363636;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #9f9d9d;
        letter-spacing: 1px;

        margin: 0 auto;
        max-width: 800px;
        margin-bottom: 10px;
    }

    .featured {
        margin: 0 auto;
        max-width: 800px;
        display: block;
    }

    .featured img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .featured h3 {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 1px;
        color: #676857;;
        margin: 7px 0;
        margin-bottom: 0;
    }

    .featured h4 {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 11px;
        letter-spacing: 1px;
        color: #c5c6be;
        margin: 0;
        margin-bottom: 12px;
    }

    .item {
        width: 100%;
        text-align: center;
    }

    #left {
    padding-right: 0;
    }

    #middle {
        padding-left: 0;
        padding-right: 0;
    }

    #right {
        padding-left: 0;
    }
}

@media screen and (min-width: 551px) and (max-width: 680px) {

    body {
        margin: 0;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 22px;
        color: #9f9d9d;
        letter-spacing: 1px;

        margin: 0 auto;
        max-width: 800px;
        margin-bottom: 10px;
    }

    .featured h3 {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 1px;
        color: #676857;;
        margin: 7px 0;
        margin-bottom: 0;
    }

    .featured h4 {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 9px;
        letter-spacing: 1px;
        color: #c5c6be;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    #left {
    padding-right: 0;
    }

    #middle {
        padding-left: 0;
        padding-right: 0;
    }

    #right {
        padding-left: 0;
    }
};